{% extends 'base.html' %}
{% block title %} Best BCA Collge in Bhubaneswar{% endblock title %}

{% block body %}
<div class="card" style="width: auto; ">
    
    <div class="card-body" style="color: white">
        <table>
            <tr>
                <th>
<img src="/media/home/images/bba.png" alt="" style="height: auto;"></th>
<th>
    <h5 class="card-title" style="color: blue; font-weight: 800; font-size: 30px;">Bachelor’s in Business Administration (BBA)</h5>
   
            </tr>
        </table>
</div>

</div>

{% endblock %}